 .current a {
    background-color:#0066ff !important;
    color:white !important;
    border-radius:4px;
}

.links {
    background-color:#d9d9d9;
    padding:3px;
    margin-bottom:5px;
    }

.links a {
    color:#0066ff;
    }

.chb_and_radio {
    width: 20px;
    height: 20px;
    display: block;
    }

.col-md-8 p {
    white-space: pre;
    }

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;

}

.butt {
      position:relative;
      left: 75px;
      background-repeat: no-repeat;
      outline: none;
    }