{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
        <meta name="description" content="">
        <meta name="author" content="Skorokhod Andrey">
        <link rel="icon" href="">
        <title>Dashboard </title>
        <!-- Bootstrap core CSS -->
        <link href="{% static 'css/main.css' %}" rel="stylesheet">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
        <link href="http://getbootstrap.com/dist/css/bootstrap.min.css" rel="stylesheet">
        <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
        <link href="http://getbootstrap.com/assets/css/ie10-viewport-bug-workaround.css" rel="stylesheet">
        <!-- Custom styles for this template -->
        <link href="http://getbootstrap.com/examples/starter-template/starter-template.css" rel="stylesheet">
        <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
        <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
        <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
        <![endif]-->
    </head>
    <body>
        <div class="container">
            <div class="row">
                <div class="col-sm-3 col-md-2">
                    <ul class="nav nav-sidebar">
                        <li id="home"><a href="/">Home </a></li>
                        <!-- link profile  works if authenticated -->
                        <li id="profile"><a {% if request.user.is_authenticated %} href="/profile/{{ request.user.id }}" {% else %} disabled {% endif %}>Profile</a></li>
                        {% if request.user.is_authenticated %}
                        <li id="accounts"><a href="/accounts/logout/">Logout</a></li>
                        {% else %}
                        <li id="accounts"><a href="/accounts/login/">Login</a></li>
                        {% endif %}
                    </ul>
                </div>
                <div class="col-sm-9 col-md-10">
                    {% block content %}
                    {% endblock content %}
                </div>
            </div>
        </div>
        <!-- /.container -->
        <!-- Bootstrap core JavaScript
            ================================================== -->
        <!-- Placed at the end of the document so the pages load faster -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
        <script src="http://getbootstrap.com/dist/js/bootstrap.min.js"></script>
        <script src="{% static 'js/main.js' %}"></script>
        <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
        <script src="http://getbootstrap.com/assets/js/ie10-viewport-bug-workaround.js"></script>
    </body>
</html>