{% extends 'base.html' %}
{% load staticfiles %}
{% block content %}
<h1>Edit profile</h1>
<div class="col-md-8 links">
    <a href='/'>Home</a>   /
    <a href='/'>Users list</a>    /
    <a href="/profile/{{ profile.id }}/">Profile</a>   /
    <a href="/profile/edit/{{ profile.id }}/"><strong>Edit</strong></a>
</div>
<hr class="col-md-11">
</hr>
<div class="col-md-6">
    <form class="form-horizontal" action="/profile/save/{{ profile.id }}/" method="POST">
        {% csrf_token %}
        <div class="form-group">
            <div class="input-group">
                <div  class="input-group-addon"><i class="fa fa-user" aria-hidden="true"></i></div>
                <input type="text" class="form-control" name="username" placeholder="Username">
            </div>
        </div>
        <div class="form-group">
            <div class="input-group">
                <div  class="input-group-addon"><i class="fa fa-user" aria-hidden="true"></i></div>
                <input type="text" class="form-control"  name="birthday" placeholder="Birthday" >
            </div>
        </div>
        <div class="form-group">
            <div class="input-group">
                <div  class="input-group-addon"><i class="fa fa-user" aria-hidden="true"></i></div>
                <input type="text" class="form-control" name="city" placeholder="City">
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-offset-10 col-sm-10">
                <button type="submit" class="btn btn-success">Save</button>
            </div>
        </div>
    </form>
</div>
{% endblock content %}

