{% extends 'base.html' %}
{% load staticfiles %}
{% block content %}
<h1>Dashboard</h1>
<div class="col-md-8 links">
    <a href='/'>Home</a>   /
    <a href='/'><strong>Users list</strong></a>
</div>
<hr class="col-md-11">
</hr>
<table class="table table-hover">
    <thead>
        <tr>
            <th>#</th>
            <th>Username</th>
            <th>Birthday</th>
            <th>City</th>
            <th>Active</th>
            <th>Boss</th>
        </tr>
    </thead>
    <tbody>
        {% if profiles %}
        {% for profile in profiles %}
        <tr>
            <th>{{ forloop.counter }}</th>
            <td><a href="/profile/{{ profile.id }}/">{{ profile.user.username }}</a></td>
            <td>{{ profile.birthday }}</td>
            <td>{{ profile.city }}</td>
            <td><input type="checkbox" class="chb_and_radio"  {% if profile.active %} checked {% endif %}></td>
            <td><input type="radio" class="chb_and_radio" {% if profile.user.is_superuser %} checked {% endif %}></td>
        </tr>
        {% endfor %}
    </tbody>
    {% endif %}
</table>
{% endblock content %}