{% extends 'base.html' %}
{% load staticfiles %}
{% block content %}
<h1>Profile</h1>
<div class="col-md-8 links">
    <a href='/'>Home</a>   /
    <a href='/'>Users list</a>  /
    <a href="/profile/{{ profile.id }}/"><strong>Profile</strong></a>
</div>
<hr class="col-md-11"/>
<div class="col-md-8">
    <p>Name:          <b>{{ profile.user.username }}</b></p>
    <p>Birthday:      <b>{{ profile.birthday }}</b></p>
    <p>City:             <b>{{ profile.city }}</b></p>
    <a type="button" class="btn btn-primary butt" href="/profile/edit/{{ profile.id }}/">Edit</a>
</div>
{% endblock content %}